.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 50rem;
}

.day-box {
  position: relative;
  aspect-ratio: 1/ 1; /* Keep the box a square */
  background: #000000;
  border: 1px solid #ddd;
  padding: clamp(0.2rem, 2vw, 1rem);
  border-radius: 0.5rem;
  cursor: pointer;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.day-box:hover {
  opacity: 0.5;
}

.today-day-box {
  background: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.emoji-box {
  font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}

.day {
  position: absolute;
  top: 4%;
  left: 6%;
  color: white;
  font-weight: 600;
  font-size: clamp(0.7rem, 1rem, 1.5rem);
}

@media (max-width: 1100px) {
  .calendar {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 850px) {
  .calendar {
    grid-template-columns: repeat(4, 1fr);
  }
}
